# Created by https://www.toptal.com/developers/gitignore/api/golang
# Edit at https://www.toptal.com/developers/gitignore?templates=golang

#!! ERROR: golang is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/golang

