{{- /*gotype: github.com/yoshino-s/entproto/cmd/protoc-gen-entgrpc.methodInput*/ -}}
{{ define "method_delete" }}
    query := svc.Client.{{ .G.EntType.Name }}.DeleteOneID(int(req.Msg.Value))
    {{ callHook .Method.GoName "query" }}

    if err := query.Exec(ctx); err != nil {
        return nil, wrapError(err)
    }
    
    res := {{ $.G.ConnectPackage.Ident "NewResponse" | ident }}(&{{ qualify "google.golang.org/protobuf/types/known/emptypb" "Empty" }}{
    })
    {{ callHookAfter .Method.GoName "res" }}
    return res, nil
{{ end }}