{{- /*gotype: github.com/yoshino-s/entproto/cmd/protoc-gen-entgrpc.methodInput*/ -}}
{{ define "method_get" }}
    {{ $entLcase := camel .G.EntType.Name }}

    query := svc.Client.{{ .G.EntType.Name }}.Query()
    query = query.Where(
        {{ entIdent $entLcase "ID" | ident }}( int(req.Msg.Value)),
    )

    {{ callHook .Method.GoName "query" }}
    res, err := {{ qualify "github.com/yoshino-s/entproto/runtime" "WrapResult"}}(WrapProto{{ .G.EntType.Name }}(query.First(ctx)))
    if err != nil {
        return nil, err
    }
    {{ callHookAfter .Method.GoName "res" }}
    return res, nil
{{ end }}